@import '../../styles/variables';

.wrap {
  height: 550px;
  padding: 75px 35px;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 950px;
    height: 100%;
    padding: 28px 45px;
    position: relative;
    animation: animated-background 30s linear infinite;
    border-radius: 10px;
    overflow: hidden;


    @media (max-width: $media-laptops) {
      width: 900px;
    }
    @media (max-width: $media-small-desktops) {
      width: 580px;
    }
    @media (max-width: $media-tablets) {
      width: 280px;
    }
  }
  &__title {
    font-size: 22px;
    color: $active-color;
    text-shadow: 2px 2px 5px rgba(70, 70, 70, 0.9);
  }
  &__link {
    font-weight: 700;
    font-size: 20px;
    color: $error-color;
    text-shadow: 2px 2px 5px $error-text-shadow;
    padding: 10px 25px;
    margin-top: 20px;
    background-color: $error-background-color;
    box-shadow: 0 6px 10px $error-text-shadow;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $error-color-hover;
    }
    &:active {
      color: $active-color-active;
      background-color: $error-color-active;
    }
  }

  @media (max-width: $media-tablets) {
    padding: 75px 65px;
  }
  @media (max-width: $media-phones) {
    padding: 25px 35px;
  }
  @media (max-width: $media-small-phones) {
    padding: 25px 17px;
  }
}
