@import 'variables';

.App {
  background-color: $bg-color;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  height: 100vh;
  position: relative;
  font-family: Lato, Inter, sans-serif;

  @media (max-width: $media-phones) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
